.country:hover {
    fill: aqua;
}
.container {
    position: relative;
}
.test:hover .co {
    fill:blueviolet;
    transition: all 1s ease;
}


			.land
			{
				fill: #CCCCCC;
				fill-opacity: 1;
				stroke:white;
				stroke-opacity: 1;
				stroke-width:0.5;
			}

            .icon {

                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
                opacity: 0;
                &:hover {
                    opacity: 1;
                }

            }

            .icon-container {
                position: relative;
                &:hover .popup {
                    visibility: visible;
                     width: 100px;
  height: 100px;
                }
            }

            .popup {

                transition: .5s all ease;
                visibility: hidden;
                position: absolute;
                background-color: aquamarine;
                left: 30px;
                & span {
                     container-name: pop;
 font-size: 1em;
 text-wrap: wrap;
                }

 width: 0px;
  height: 0px;
            }

            @container pop (max-width: 50px) {
  .popup span {
    font-size: 2em;
  }
}